.links_list {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    overflow: hidden;
}


.links_list > a {
    text-overflow: ellipsis;
    white-space: nowrap;

}

.useful_sites_container {
    padding-left: 5em;
    width: 500px;
}