<!-- templates/boycotts_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Boycotts</h1>

<!-- <a href='/boycotts/new'>New boycott</a> -->
<div class='row'>
    {% for boycott in boycotts %}
    <div class='col-sm-3'>
            <div class="card">
                    <div class="card-body">
                        <h2><a href='/boycotts/{{ boycott._id }}'>{{ boycott.title }}</a></h2>
                        <small>{{ boycott.description }}</small>
                    </div>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}