<!-- templates/boycotts_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Boycott: {{ boycott.title }}</h1>
        <h5>{{ boycott.description }}</h5>
        <h6>{{ boycott.time_frame }}</h6>
        <h3>List of Related Links</h3>
        <ul>
        {% for link in boycott.links %}
            
            <li class="links_list">
                <a href='{{ link }}'>{{ link }}</a>
            </li>
        {% endfor %}
    </ul>
    <p>
    </br>
    <a href="/boycotts/{{ boycott._id }}/edit">Edit</a>
    <p><form method='POST' action='/boycotts/{{ boycott._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-primary' type='submit'>Delete</button>
    </form></p>
    </p>
    <hr>

    {% include 'partials/comment_form.html' %}

    <hr>

    <!-- Show Comments -->
    {% for comment in comments_collection %}
        {% include 'partials/comment.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}